.clase1 {
border: 2px solid red;
background-color: lightred;
text-align: right;
height: 150px;
margin: 20px;
}
.clase2 {
border: 2px solid green;
background-color: lightgreen;
text-align: right;
height: 150px;
margin: 20px;
}
.clase2 {
border: 2px solid orange;
background-color: lightorange;
text-align: right;
height: 150px;
margin: 20px;
}
.left {
border: 5px solid black;
text-align: left;
}
.right {
border: 5px solid black;
text-align: right;
}
.center {
text-align: center;
}